<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tag Emotions</title>
</head>

<h3>Tag Emotions</h3>
<form action="{{ url_for('tagEmotionsForInput') }}" method=post>
    <textarea name=text rows=5 cols=40></textarea>
    <input type=submit value=Analyze>
</form>

<br>
{{ text }}
<table style = "text-align:center; vertical-align:middle">
    <tr>
        <th></th>
        {% for tag in tags %}
        <th>{{ tag.name }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>frequency</th>
        {% for tag in tags %}
        <td>{{ tag.frequency }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>factor</th>
        {% for tag in tags %}
        <td>{{ tag.factor }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>words</th>
        {% for tag in tags %}
        <td>{{ tag.tokens }}</td>
        {% endfor %}
    </tr>
</table>

</body>
</html>